.container1{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: calc(100% - 70px);
    height: 25vh;
    margin-left: 35px;
    margin-top: 20px;
    align-items: center;
    /* margin-left: 66.5px; */
    margin-bottom: 50px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}.container1::-webkit-scrollbar {
    display: none;
  }

@media only screen and (max-width: 600px){
    .container1{
        width: 90%;
        margin-left: 20px;
        height: 25vh;
        gap: 6px;
    }
}

