@font-face {
    font-family: "Erotiqa";
    src: url('../fonts/coolvetica\ rg.otf');
}
.searcher{
    width: 90vw;
    height: 100px;
    display: flex;
    margin-left: 50%;
    transform: translate(-50%,0);
}
.searcher form{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.searcher form input{
    height: 30px;
    width: 10%;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #828282;
    font-size: .9rem;
    padding: 5px;
    background-color: #262626;
    transition: all .5s ease-in-out;
    margin: 10px;
    font-family: 'Erotiqa';
    font-weight: lighter;
    text-align: left;
    padding-left: 10px;
}
.searcher form input:focus{
    width: 25%;
    border: .1px solid rgb(214,85,24);
    color: rgb(214,85,24);
    font-size: 1.1rem;
}
.searcher form input::placeholder{
    font-size: 1.1rem;
    color: #949494;
    font-weight: lighter;
    
}
.searcher form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 10px;
    margin-left: 2px;
    background-color:  rgb(214,85,24);
    height: 40px;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    border:none;
}
.option{
    width: 232px;
    height: 30px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Erotiqa';
    font-size: 1.1rem;
}
.movie{
    text-align: center;
    width: 100px;
    color: rgb(214,85,24);
    background-color: #262626;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    transition: .4s all ease-in-out;
    cursor: pointer;
}

.series{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    color: rgb(214,85,24);
    background-color: #262626;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.clicked{
    /* border: .1px solid rgb(214,85,24); */
    background-color: rgb(62, 40, 28);
}




@media only screen and (max-width: 600px){
    .searcher{
        height: 35vh;
        flex-wrap: wrap;
    }
    .searcher form{
        flex-direction: column;
    }
    .searcher form input{
        width: 100%;
    }
    .searcher form input:focus{
    width: 100%;
    border: .1px solid #ceffcd;
    color: rgb(214,85,24);
    }
    .searcher .option{
        margin-top: 0px;
    }
}
