.frametag{
    min-width: 100%;
    min-height: 70%;
}
@font-face {
    font-family: "Erotiqa";
    src: url('../../fonts/coolvetica\ rg.otf');
}
iframe{
    border: none;
}
#modal-modal-title{
    color: #fff;
    font-family: 'Righteous', sans-serif;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(214,85,24);
}
#modal-modal-description{
    color: #fff;
    font-family: 'Righteous', sans-serif;
    font-family: "Erotiqa";
}
#rs-date{
    color: rgb(214,85,24);
}
.avg_vote{
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background-color: rgba(48,24,12,255);
    color: rgb(214,85,24);
    border: .1px solid rgb(101, 39, 10);
    padding: 3px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.Boxmodel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  background-color: #000000;
  border: .1px solid rgb(54, 22, 7);
  box-shadow: 24;
  padding: 10px;
  overflow-y: scroll;
}
@media only screen and (max-width: 600px){
    .Boxmodel{
        width: 95%;
        height: 70%;
    }
    #modal-modal-title{
        font-size: .9rem;
    }
    #modal-modal-description{
        font-size: .6rem;
    }
    #rs-date{
        font-size: .6rem;
    }
}
@media only screen and (max-width: 1000px){
    .Boxmodel{
        width: 95%;
    }
}
.wtc{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-left: 0;
}
.play-btn{
    font-size: 10px;
}
.Season_Div{
   margin-top: 10px;
   display: flex;
   gap : 7.1px;
   flex-wrap: wrap;
}
.Episode_Div{
   margin-top: 10px;
   display: flex;
   gap : 7.1px;
   flex-wrap: wrap;
}
.btn-op{
    width: 79px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    background-color: rgba(48,24,12,255);
    color: rgb(214,85,24);
    border: .1px solid rgb(101, 39, 10);
    cursor: pointer;
}
.btn-ep{
    width: 79px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(48,24,12,255);
    background-color: #ffc09b;
    color: rgb(214,85,24);
    border: .1px solid rgb(101, 39, 10);
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.clicked{
    background-color: rgb(79, 46, 30);
    color: rgb(214,85,24);
}
