
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: "Minecraft";
    src: url('../../fonts/ErotiqueAlternateTrial-Regular.ttf');
}
@font-face {
    font-family: "Juli";
    src: url('../../fonts/Julitho\ Regular.ttf');
}
@font-face {
    font-family: "graphyne";
    src: url('../../fonts/Graphyne-Regular.otf');
}
.NavBar{
    width: 97.5vw;
    height: 70px;
    background: none;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 200;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile img{
    width: 35px;
    height: 35px;
    border-radius: 7px;
}
.profile p{
    font-size: 16px;
    font-family: 'Righteous', sans-serif;
    font-family: "Erotiqa";
    color: #8070ff;
}
.vistaio{
    display: flex;
    align-items: center;
    gap: 100px;
}
.vistaio h1{
    color: #f20e89;
    font-family: "graphyne";
    color: rgb(214,85,24);
    letter-spacing: .5px;
    font-weight: lighter;
}

.vistaio p{
    font-family: 'Righteous', sans-serif;
    font-family: "Erotiqa";
    font-size: 20px;
}
a{
    text-decoration: none;
}
.acountbtn{
    width: 70px;
    height: 20px;
    font-size: .8rem;
    margin: 5px;
    margin-bottom: 10px;
    background:none;
    color: #5fe85d;
    color: rgb(214,85,24);
    font-family: 'Erotiqa';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: none;

}
.acountbtn-log{
    width: 70px;
    height: 20px;
    font-size: .8rem;
    margin: 5px;
    margin-bottom: 10px;
    background:none;
    color: #5fe85d;
    color: rgb(214,85,24);
    font-family: 'Erotiqa';
}
.acountbtn:hover{
    text-decoration: underline;
}
.bars{
    position: absolute;
    right: 15px;
    z-index: 100;
    width: 80px;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    border: .01px solid #494949;
    cursor:cell;
}
.bars .userName{
    color: rgb(214,85,24);
    margin: 5px;
}#topstrem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #fff;
}
.favr{
    color: rgb(214,85,24);
}
.account-box{
    height: 19px;
    padding: 10px;
    background-color: rgba(48,24,12,255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: .1px solid rgb(101, 39, 10);
}
.account-icon{
    color: rgb(214,85,24);
    font-size: 25px;
}
.vistaio-star{
    color: #ffc09b;
}
@media only screen and (max-width: 600px) {
    .NavBar {
        width: 100%;
        height: 30px;
        padding: 2px;
        margin-top: 5px;
    }
    #topstrem{
        display: none;
    }
    .srch{
        width: 30px;
        height: 10px;
    }
  }
