@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@font-face {
    font-family: "Erotiqa";
    src: url('fonts/coolvetica\ rg.otf');
}
.headd{
    color: #d2ffd1;
    color: rgb(214,85,24);
    font-family: 'Righteous', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Erotiqa';
    font-size: 19px;
    margin-left: 10.5px;
    /* text-transform: uppercase; */
    height: 40px;
    letter-spacing: 1px;
}

.slide-in{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transform-origin: bottom;
}
.slide-out{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    transform-origin: top;
}
@media only screen and (max-width: 600px){
    .head{
        font-size: 12px;
        margin-left: 20px;
    }
}