.Popular-container{
    display: flex;
    gap: 15.5px;
    width: calc(100% - 70px);
    height: 25vh;
    margin-left: 35px;
    margin-top: 20px;
    align-items: center;
    overflow-x: scroll;
    /* margin-left: 66.5px; */
    margin-bottom: 50px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}.Popular-container::-webkit-scrollbar {
    display: none;
  }
  @media only screen and (max-width: 600px){
    .Popular-container{
        width: 98%;
        margin-left: 1%;
        height: 20vh;
        gap: 6px;
    }
}
